@media screen and (min-width: 720px){
  // Headings

  h1, h2, h3{
    margin: 0;

    &.lg-heading{
      font-size: 4.5rem;
    }
    
    &.sm-heading{
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
  }

  main{
    padding: 4rem;
    width: auto;
    text-align: left;

    &#home{
      overflow: hidden;
      h1{
        margin-top: 20vh;
      }
    }
  }

  .menu{
    &-branding{
      .portrait{
        width: 15rem;
        height: 15rem;
      }
    }

    .nav-link{
      font-size: 1.875rem;
    }
  }
}

@media screen and (min-width: 1080px){
  h1, h2, h3{
    &.lg-heading{
      font-size: 6rem;
    }
  }
}