@media screen and (min-width: 720px){
  // Headings

  h1, h2, h3{
    margin: 0;
    text-align: left;

    &.lg-heading{
      font-size: 4.5rem;
    }
    
    &.sm-heading{
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
  }

  main{
    padding: 4rem;
    width: 100%;
    text-align: left;
  }

  .menu{
    &-nav, &-branding{
      float: left;
      width: 50%;
      height: 100vh;
    }

    &-nav{
      justify-content: center;
      transform: translate3d(0, -100%, 0);
    }

    &-branding{
      transform: translate3d(0, 100%, 0);
      
      .portrait{
        width: 15rem;
        height: 15rem;
        background: url('../img/portrait.jpeg');
        background-size: cover;
      }
    }

    .nav-link{
      font-size: 1.875rem;
    }
  }

  .about-info{
    text-align: left;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image{
      width: 100%;
    }
    .bio{
      grid-area: bio;
      font-size: 1rem;
      margin: 0;
    }
    .job-1{
      grid-area: job1;
    }
    .job-2{
      grid-area: job2;    
    }
    .job-3{
      grid-area: job3;    
    }
    .job{
      background: lighten($color: $primary-color, $amount: 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 0.25rem solid;
    }
  }
}

@media screen and (min-width: 1080px){
  h1, h2, h3{
    &.lg-heading{
      font-size: 6rem;
    }
  }

  .about-info{
    .bio{
      font-size: 1.5rem;
    }
  }
}