@media screen and (min-width: 720px){
  // Headings

  h1, h2, h3{
    margin: 0;

    &.lg-heading{
      font-size: 4.5rem;
    }
    
    &.sm-heading{
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
  }

  main{
    padding: 4rem;
    width: auto;
  }

  .menu{
    &-nav, &-branding{
      float: left;
      width: 50%;
      height: 100vh;
    }

    &-nav{
      justify-content: center;
      transform: translate3d(0, -100%, 0);
    }

    &-branding{
      transform: translate3d(0, 100%, 0);
      
      .portrait{
        width: 15rem;
        height: 15rem;
        background: url('../img/portrait.jpeg');
        background-size: cover;
      }
    }

    .nav-link{
      font-size: 1.875rem;
    }
  }
}

@media screen and (min-width: 1080px){
  h1, h2, h3{
    &.lg-heading{
      font-size: 6rem;
    }
  }

  main{
    // text-align: left;
  }

  .menu{

    &-branding{

      .portrait{
      }
    }
  }
}