@import 'config';
@import 'menu';

*{
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1, h2, h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 3rem;
  }
  
  &.sm-heading{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a{
  color: set-text-color($primary-color);
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.txt-secondary{
  color: $secondary-color;
}

main{
  min-height: calc(100vh - 3.75rem);
  text-align: center;

  .icons{
    margin-top: 1rem;

    a{
      padding: 0.4rem;

      &:hover{
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home{
    overflow: hidden;
    h1{
      margin-top: 15vh;
    }
  }

  &#about{
    overflow: hidden;
    h1{
      margin-top: 15vh;
    }
  }

  &#work{
    overflow: hidden;
    margin: 0 3.625rem;

    h1{
      margin-top: 15vh;
    }
  }

  &#contact{
    overflow: hidden;

    h1{
      margin-top: 15vh;
    }
  }
}

.about-info{
  display: grid;
  grid-template-areas:
  'bioimage'
  'bio'
  'job1'
  'job2'
  'job3';
  grid-gap: 1.875rem;
  grid-template-columns: 1fr;
  margin: 0 3.5rem;

  .bio-image{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 0.125rem $secondary-color;
    width: 50%;
  }
  .bio{
    grid-area: bio;
    font-size: 1rem;
  }
  .job-1{
    grid-area: job1;
  }
  .job-2{
    grid-area: job2;    
  }
  .job-3{
    grid-area: job3;    
  }
  .job{
    font-size: 0.75rem;
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 0.25rem solid;
  }
}

// Work / Projects
.projects{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem;

  img{
    width: 100%;
    border: 0.125rem #ccc solid;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div{
    font-size: 1rem;
    border: 0.125rem #ccc solid;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover{
      padding: 0.5rem 0.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      
      span{
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Style

.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover{
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark{
  @extend .btn;
  background: darken($color: $primary-color, $amount: 50);
  color: set-text-color(darken($color: $primary-color, $amount: 50));
}
.btn-light{
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 50);
  color: set-text-color(lighten($color: $primary-color, $amount: 50));
}

#main-footer{
  font-size: 0.75rem;
  line-height: 0.5;
  text-align: center;
  padding: .0625rem;
  background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 3.75rem;
}

@import 'full';